<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">
        <h2 style="color: darkgoldenrod;">Product Management</h2>
      </div>
      <div class="text-center">
        <h4> Visit
        <a href='https://app.pluralsight.com/library/courses/angular-2-getting-started-update'>Angular: Getting Started</a>
          for more details. </h4>
      </div>
    </div>
  </div>
</div>
